.main-chat__message-list__box
  .main-chat__message-list__box__upper
    %p.main-chat__message-list__box__upper__talker
      = message.user.name
    %p.main-chat__message-list__box__upper__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main-chat__message-list__box__lower
    - if message.content.present?
      %p.main-chat__message-list__box__lower__content
      = message.content
    = image_tag message.image.url, class: 'main-chat__message-list__lower__content__image' if message.image.present?