
* {
  box-sizing: border-box;
}

.side-bar {
  height: 100vw;
  width: 300px;
  background-color: #253141;
  float: left;
  &__user {
    height: 100px;
    display: flex;
    padding: 0 20px;
    align-items: center;

    &__top-items {
      height: 20px;
      width: 260px;
      color: white;
      display: flex;
      justify-content: space-between;

      p {
        font: bold;
        font-size: 16px;
      }

      &__menu {
        display: flex;

        li {
          margin-left: 5px;

        a{
          color: $mainWhiteColor;
          
        }

        }
      }
    }
  }

  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;

    &__detail {
      margin: 0 20px;
      padding-top: 20px;
      padding-bottom: 40px;

      a {
        text-decoration: none;
      }

      p {
        font: bold;
        color: $mainWhiteColor;
      }

      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }

      &__group-title {
        font-size: 11px;
      }

    }
  }
}

.main-chat {
  height: 100vw;
  width: calc(100vw - 300px);
  background-color: $mainWhiteColor;
  float: left;
  
  &__group-info {
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    
    &__group-detail {
      margin-left: 40px;
      padding-top: 35px;
      
      &__group-name {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }

      &__user-name {
        font-size: 12px;
        color: #999999;
      }

    }

    &__edit {
      height: 40px;
      line-height: 40px;
      width: 72px;
      margin-top: 28px;
      margin-right: 40px;
      text-align: center;
      border: solid 1px #38aef0;
    }

    a {
      text-decoration: none;
      color: #38aef0;
    }

  }
  
  &__message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px;
    overflow: scroll;

    &__box {
      padding-bottom: 40px;

      &__upper {
        display: flex;
        justify-content: flex-start;
        a {
          text-decoration: none;
      }
          
        &__talker {
            color: #333333;
            font-size: 16px;
            font-weight: bold;
          }
          
        &__date {
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
      

        &__text {
          color: #434A54;
          font-size: 14px;
          padding-top: 12px;
          padding-bottom: 46px;
        }
    }
  }
  }
  
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    
    form {
      display: flex;
    }

      &__input-box {
        width: 100%;
        display: flex;
        position: relative;

        &__text {
          color: #434a54;
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
        }

        &__image {
          cursor: pointer;
          top: 10px;
          right: 10px;
          font-size: 1.3rem;
          position: absolute;

          &__file {
            display: none;
          }
        }
       }

      &__submit-btn {
        width: 100px;
        height: 50px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
       }
  
  }

}